*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f8f9fa;
}
main{
    width:420px;
    margin: auto;
    background-color: #fff;
}
.top-section {
    background: #000;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}
.icon-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
}
.contact-box {
    padding: 30px;
}
.social-icons i {
    font-size: 30px;
    margin: 6px;
    cursor: pointer;
}
.download-btn {
    background: #000;
    color: #fff;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.download-btn {
    background: #000;
    color: #fff;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.popup-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 0;
    cursor: pointer;
}
.popup-row i {
    font-size: 18px;
}