*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f8f9fa;
}
h1 {
    font-size: 24px;
}
main{
    max-width:420px;
    margin: auto;
    background-color: #fff;
    min-height: 100vh;
}
.top-section {
    background: #000;
    padding: 15px 0;
    text-align: center;
    color: #fff;
}
.button-group{
    border-top: 1px solid #f8f9fa4d  ;
    background-color: #000;
}
.button-group a{
    font-size: 14px;
    color: #fff;
    padding: 10px;
    width: 33%;
    border-right: 1px solid #f8f9fa4d;
    border-radius: 0;
}
.button-group a:last-child{
    border: 0;
}
.icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
}
.contact-box {
    padding: 10px 20px;
}

hr {
    margin: 5px 0;
}
.social-icons i {
    font-size: 20px;
    margin: 6px;
    cursor: pointer;
}

.download-btn {
    background: #000;
    color: #fff;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.popup-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 0;
    cursor: pointer;
}
.popup-row i {
    font-size: 18px;
}